.wrap {
  margin: 50px;
  height: 100vh;

  h2 {
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #bbb;
  }

  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #666;
    border: 1px solid #aaa;
    border-radius: 5px;
  }

  p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 1.6;
    text-align: justify;
    word-break: keep-all;
  }

  .btnWrap {
    margin-top: 20px;

    button {
      padding: 5px 15px;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      border-radius: 3px;
      background-color: #68A3B6;

    }

    .modifyBtnWrap {
      display: flex;
      column-gap: 10px;

      .cancelBtn {
        background-color: #aaa;
      }
    }
  }
}