.wrap {
  position: absolute;
  bottom: 40px;

  li {
    display: flex;
    column-gap: 10px;

    .page {
      padding: 1px 5px;
      font-size: 16px;
      color: #aaa;

      &.active {
        font-weight: 600;
        color: #555;
      }
    }
  }
}